<% include ./partials/header %>

<h1>The login form</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username"></input>
    <input type="password" placeholder="password" name="password"></input>
    <button>Submit</button>
</form>

<% include ./partials/footer %>